body { 
  background-color: gray;
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

h1{
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
}


h3{
  text-align: center !important;
  font-weight: bold !important;
  font-size: 60px !important;
}

h5{
  margin-bottom: 35px;
  text-decoration: underline;
  font-weight: bold !important;
}

a{
  text-decoration: none;
}

.uppercase{
  text-transform: capitalize;
}

.text-centered{
  text-align: center;

}

.banner{
  margin-bottom: 100px;
  background-color: springgreen;
  height: 60px;
  font-size: 20px;
}

.banner>p{
  text-align: center;
  font-weight: bold;
  padding: 15px;
}


.form-inligne{
  text-align: center;
}



@media (max-width: 1000px){
  .form-inline{
    display: none;
  }
}

.nav-item{
  margin-right: 15px;
}


.card {
  height: 100%;
}

.card-text{
  text-align: center;
}


.card-title{
  font-weight: bold;
  text-align: center;
}

.card-text{
  margin-top: 10px;
  margin: 30px 30px;
}

.container-page{
  text-align: center;
}

.lorem-ipsum{
  color: black;
  font-size: 15px;
  border-radius: 5px !important;
  border: 2px solid black !important;
  padding: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

td, th {
  border: 1px solid black;
  text-align: center !important;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#login{
  margin-top: 40px;
}

.login{
    margin-right: 45px;
}

.dropdown-nemu{
  margin-right: 30px;
}

.forms{
  background-color: white;
}

.form-contact{
  border: 2px solid black;
  border-radius: 5px;
  background-color: gray;
  padding: 20px;
}

.exercice{
  padding: 15px !important;
  margin: 50px;
  min-height: 20px !important;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  background-color: snow !important;
}

.boutton{
  text-align: right;
  margin-bottom: 25px;
}

.space{
  margin-bottom: 200px;
}

footer{
  margin-top: 40px;
}


/*--------------------------------------------------*\
    $Search bar
\*--------------------------------------------------*/

.searchbox{
  position:relative;
  min-width:50px;
  width:0%;
  height:50px;
  float: right;;
  overflow:hidden;
  
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}

.searchbox-input{
  border-radius: 1px 0 3px 4px;
  top:0;
  right:0;
  border:0;
  outline:0;
  background:#dcddd8;
  width:100%;
  height:50px;
  margin:0;
  padding:0px 55px 0px 20px;
  font-size:20px;
  color:red;
}
.searchbox-input::-webkit-input-placeholder {
  color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
  color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
  color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
  color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
  border-radius: 50%;
  width:50px;
  height:50px;
  display:block;
  position:absolute;
  top:0;
  font-family:verdana;
  font-size:22px;
  right:0;
  padding:0;
  margin:0;
  border:0;
  outline:0;
  line-height:50px;
  text-align:center;
  cursor:pointer;
  color:#dcddd8;
  background:#172b3c;
}

.searchbox-open{
  width:100%;
}

.byline{
position:absolute;
top:150px;
left:30%;
text-align:center;
font-size:18px;
}
.byline a{
text-decoration:none;
color: #d74b4b;
}

/*--------------------------------------------------*\
    $Sidenav
\*--------------------------------------------------*/
/* Style the links inside the sidenav */
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  right: -207px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 230px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius:  5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
  height: 50px;
  text-align: left;
}

#mySidenav a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#facebook {
  top: 420px;
  background-color: #3B5998;
}

#twitter {
  top: 466px;
  background-color: #55acee; /* Blue */
}

#google {
  top: 517px;
  background-color: #DD4B39; /* Red */
}

.sidenav > a > span {
  margin-left: -10px !important;
}

@media only screen and (max-width: 1220px) {
  #mySidenav {
      display: none;
  }
}
h1 {
  font-family: verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -10px;
}

a {
  text-decoration: none !important;
}

#btn1 {
  top: 100px;
}

#btn2 {
  top: 200px;
}

#btn3 {
  top: 300px;
}

div.button {
  background-color: #e74c3c;
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 500px;
  height: 60px;
  position: fixed;
  right: -435px;
  transition: .7s ease;
}

div.button:hover {
  background-color: #ffffff;
  position: fixed;
  right: -50px;
  width: 600px;
  border-radius: 0px;
  box-shadow: 0px 5px 0px #c0392b;
}

div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: #ecf0f1;
}

/******************************/

/*--------------------------------------------------*\
    $Connection Button
\*--------------------------------------------------*/
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0    
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc 
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}



/******************************/




