<!DOCTYPE html>
<html ng-app="dvd" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DVD LOCATION</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/small-business.css" rel="stylesheet" type="text/css">
    <script src="angular.js" type="text/javascript"></script>
    <script src="dvd.js" type="text/javascript"></script>
    <link rel="icon" href="images/dvd.png" type="image/ico" />
</head>

<body ng-controller="listeDeFilm">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">DVD LOCATION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">ACCUEIL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="admin.html">ADMIN</a>
            </li>
            <li>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Search">
              </form>
            </li>
      </nav>
        
      <div class="banner"><p>Le meilleur site de location</p></div>
        <div class="container">

         
    
            <div class="col-md-12">
        
            
              <div class="row">
                <div id="row">   </div>
        

    <!--JS IMPLEMENTATION-->
          <div id="card" class="card h-100" ng-repeat="f in films">
              <div id="cardBody" class="card-body">
                <h2 id="cardTitle" class="card-title">{{f.titre}}</h2>
                <img id="image" class="img-fluid rounded" src="{{f.jaquette}}" ng-click="detail(f.id)" alt="">
                <p id="description" class="card-text">{{f.description}}</p>
              </div>
              <div id="cardFooter" class="card-footer">
                  <a id="btn" href="" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"></a>
              </div>
            </div>
        </div> 

        <div class="mod" ng-show="modalShower" style="width: 400px;height: 400px; background-color: silver;">
          <div ng-click="hideModal()">x</div>
          <input ng-model="film-titre" type="text">
          <textarea ng-model="film.description"></textarea>
        </div>

    <!-- Modal --><!-- JS Implementation -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Text here 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 

        <div id="mySidenav" class="sidenav">
            <a id="facebook" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"> </span> We are on facebook</a>
            <a id="twitter" class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"> </span> We are on twitter</a>
            <a id="google" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"> </span> We are on google+</a>
        </div> 
 
              </div><!-- END ROW -->
            </div><!-- Col-lg-12 -->
        </div><!-- END CONTAINER -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; DVD 2018 | <a id="contact">contact@dvdloc.fr</a></p>
          </div>
        </footer>

        
          
          <!-- Script a essayer -->        
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
          
          <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
          <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
          <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  -->
          <!-- <script src="js/database.js"></script>
          <script src="js/application.js"></script>  -->
      </body>
</html>
